@import "style.css";

a, h3, h2, h1, h4, h5, h6, div, p, button, input{
  font-family: avenir;
}

.calendar{
  bottom: 8px;
}

.calendarU{
  bottom: 8px;
}

.calendarD{
  bottom: 20px;
}

.colorpickerT{
  top:10px;
}

.colorpickerS{
  top:11px;
}