@import "style.css";

a, h3, h2, h1, h4, h5, h6, div, p, button, input{
  font-family: graphik;
}

b{
  font-weight: 600;
}

.calendar{
  bottom: 8px;
}

.calendarU{
  bottom: 10px;
}

.calendarD{
  bottom: 22px;
}

.colorpickerT{
  top:8px;
}

.colorpickerS{
  top:9.5px;
}